/*---------COLORS---------*/
/* main color ->  #FFC107 */


/*-----------------------------------------------*/
/* Basic Set up                                  */
/*-----------------------------------------------*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    
}


/*----------------------------------------------*/
/* Reusable Code                                */
/*----------------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}


section {
    padding: 80px 0;
}

.box {
    padding: 2%;
}

/*------- HEADINGS ----------*/

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    color:white;
    font-size: 240%;
    margin: 0;
    text-align: left;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
h3 {
    font-size: 110%;
    margin-bottom: 15px;
}


/*-----LINE THAT FOLLOWS SECTION HEADER---*/
h2:after {
    display: block;
    height: 2px;
    background-color:#FFC107;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}


/*------- PARAGRAPH ---------*/
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}


/*---------- ICONS ---------*/

.icon-big {
    font-size: 300%;
    display: block;
    color: #FFC107;
    margin-bottom: 10px;
    
}


/*--------- BUTTONS ---------*/
.btn:link,
.btn:visited {
    display: inline-block;
    border-radius: 3px;
    padding: 10px 30px;
    margin: 10px 20px 0 0;
    font-weight: 300;
    text-decoration: none;
    transition: background-color 0.7s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #FFC107;
    color:#000;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 2px solid;
    border-color: #FFC107;
    color: #FFC107;
}

.btn-full:hover,
.btn-full:active {
    background-color: #b18500;
    color:white;
}

.btn-ghost:hover,
.btn-ghost:active {
    
    border: 2px solid;
    border-color: #b18500;
    background-color: #b18500;
    color:white;
}

/*---------------------------------------------------*/
/* HEADER                                            */
/*---------------------------------------------------*/
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/hero3.jpg);
    background-size:cover;
    background-position: center;
    height: 100vh;
}


.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.logo {
    height: 190px;
    width: auto;
    float: left;
    border: 2.5px solid #FFC107;
    border-radius: 50%;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 90px;
}

.main-nav li {
    display: inline-block; /*--side by side--*/
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.4s;
}


.call-to {
    display: inline-block;
    color:#FFC107;
    margin-top: 85px;
    margin-left: 25px;
    font-weight: 400;
    font-size: 150%;
}
/*---- when user hovers over links ------*/

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #FFC107;
    
}


/*---------------------------------------------------*/
/* ABOUT ME */
/*---------------------------------------------------*/


